@red: #e74747;
@green: #47e76a;
@brown: #39230d;

@import "board-component";
@import "piece-component";
@import "chat-component";
@import "selector-component";
@import "sidebar-component";
@import "marginalium-component";
@import "demonstration-component";
@import "parchment";

body {
    margin: 0; 
    background: url(./images/fancy-cushion.webp);
    background-size: 500px;
}

#content {
    height: 100vh;
    min-width: 100%;
    display: inline-grid;
    grid-template-columns: minmax(300px, 1fr) 900px 1fr;
}

#abed {
    color: @brown;
    user-select: none;
    min-height: 100%;
    grid-area: 1 / 2;
    //font-family: bilbo;
    font-family: 'Times new Roman';
    letter-spacing: -0.3px;
    font-size: 16px;
    margin: 0px;


    #title {
        font-size: 100px;
        font-family: pirata;
    }

    h1, h2, h3, h4 {
        margin-block: 0;
    }

    h1 {
        font-size: 40px;
        font-family: pirata;
    }

    h2 {
        font-family: pirata;
        font-size: 2em;
        letter-spacing: 0.5px;
    }

    h3 {
        font-family: bilbo;
        font-size: 1.5em;
        font-weight: 500;
    }

    h4 {
        font-family: bilbo;
    }

    ul {
        margin: 0px
    }

    & .spotlight {
        animation-name: blink;
        animation-duration: 1s;
        animation-direction: normal;
        animation-iteration-count: 1;
        animation-timing-function: linear;
    }


    & textarea#title {
        resize: none;
        background: transparent;
        border: none;
        margin: 30px;

        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    button {
        background: none;
        font-family: pirata;
        font-size: 20px;
        border-width: 2px;
        border-color: @brown;
        border-style: solid;
    }


    .piece-name {
        border-radius: 3px;
        border: 1px solid #b4b4b4;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
        color: #333;
        display: inline-block;
        font-size: 0.85em;
        font-weight: 700;
        line-height: 1;
        padding: 2px 4px;
        white-space: nowrap;
    }

    .inner {
        margin-left: 25px;
    }
}
#default-layout {
    padding: 4em;

    & textarea#title {
        font-size: 14px;
    }
}



#puzzle-select-component {
    #level-suites {
        column-count: 3;
    }

    .level-suite {
        break-inside: avoid;
        & * {
            margin: 0;
        }
    }

    & span[data-puzzle-progress="completed"] {
        color: green;
    }
    & span[data-puzzle-progress="incomplete"] {
        color: yellow;
    }
}

span.red { color: @red }
span.green { color: @green }


#puzzle-component {
    display: inline-grid;
    width: 100%;
    grid-template-columns: auto 350px;
    grid-template-rows: min-content auto;
    //padding-top: 50px;
    //padding-bottom: 50px;
    //padding-left: 20px;
    //padding-right: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 40px;
    padding-bottom: 40px;


    grid-gap: 10px;
    height: 100vh;
    box-sizing: border-box;

    & #board-component {
        grid-area: 1 / 1;
        //display: none;
    }
    & #selector-component {
        grid-area: 2 / 1;
        //display: none;
    }
    & #sidebar-component {
        grid-area: 1 / 2 / span 2 / auto;
        //display: none;

        & input[type=range] {
        }
    }
}

#home-component {
    display: grid;
    grid-auto-flow: row;
    grid-column-gap: 10px;

    & .link {
        font-size: 40px;
    }
}

.rough-annotation {
    z-index: 10;
}